In [2]:
import pandas as pd 
import numpy as np

In [2]:
df1=pd.read_csv("hyderabad_all")
df2=pd.read_csv("Indore_all")
df3=pd.read_csv("lucknow_all")
df4=pd.read_csv("pune_all")
df5=pd.read_csv("jaipur_all")
df6=pd.read_csv("chennai_all")
df7=pd.read_csv("ben_retakifoma")
df8=pd.read_csv("honda_ben")
df9=pd.read_csv("hyundai_ben")
df10=pd.read_csv("maruti_ben")

In [10]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10],axis=0)

In [11]:
df.shape

(1075, 15)

In [12]:
#df.to_csv("total_cars_data")

In [3]:
df_1=pd.read_csv("total_cars")
df_2=pd.read_csv("total_cars_data")

In [4]:
total_df=pd.concat([df_1,df_2],axis=0)

In [5]:
total_df.shape

(2890, 17)

In [6]:
#total_df.to_csv("total_used_cars")

In [7]:
total_df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,0,0,0.0,CapitalUT,Delhi,2020,FORD,ECOSPORT,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,1,1,1.0,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,2,2,2.0,CapitalUT,Delhi,2018,FORD,ECOSPORT,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,3,3,3.0,CapitalUT,Delhi,2019,FORD,ECOSPORT,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,4,4,4.0,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000

In [8]:
total_df.drop(["Unnamed: 0","Unnamed: 0.1","Unnamed: 0.1.1"],axis=1,inplace=True)

In [9]:
total_df.head()

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,FORD,ECOSPORT,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,CapitalUT,Delhi,2018,FORD,ECOSPORT,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,CapitalUT,Delhi,2019,FORD,ECOSPORT,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000

In [10]:
total_df.reset_index(inplace=True)

In [11]:
total_df.head()

,index,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,0,CapitalUT,Delhi,2020,FORD,ECOSPORT,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,1,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,2,CapitalUT,Delhi,2018,FORD,ECOSPORT,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,3,CapitalUT,Delhi,2019,FORD,ECOSPORT,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,4,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000

In [12]:
total_df.drop("index",axis=1,inplace=True)

In [13]:
total_df.head()

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,FORD,ECOSPORT,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,CapitalUT,Delhi,2018,FORD,ECOSPORT,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,CapitalUT,Delhi,2019,FORD,ECOSPORT,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000

In [14]:
total_df.isnull().sum()

state            0
city             0
year             0
make             0
model            0
series          17
transmission    17
fuel             0
owner            0
emi              0
kilometers       0
mileage          0
seating          0
price            0
dtype: int64